# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles
/tmp/pids/*
!/tmp/pids/.keep

# Ignore storage files
/storage/*
!/storage/.keep

# Ignore master key for decrypting credentials
/config/master.key

# Ignore node_modules
/node_modules

# Ignore precompiled assets
/public/assets

# Ignore uploaded files in development
/storage/*
!/storage/.keep
